
.myButton {
   font-size: 15px;
   font-weight: bold;
   background: #fedcdc;
   color: #fcfcfc;
   border: none;
   border-radius: 6px;
   padding: 5px 12px;
   letter-spacing: 0px;
   margin: 5px;
}

.myButton:hover {
   background: #f3bfbf;
   color: #ffffff;
}
